*
.*
!.gitignore
!Makefile
!dma.mk
!build_prj.tcl
!build_prj_top.tcl
!rtl_sim_gui.tcl
!rtl_sim.tcl
!common.tcl
!get_area.sh
!get_latency.sh
!golden_fp_tests/
!golden_fp_tests/*
!golden_accelerated_tests/
!golden_accelerated_tests/*
!*.log
!test4.sh
